@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #0a0a0a;
  background: #fff;
  font-family: "Syne", sans-serif !important;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden !important;
}
@layer components {
  .Resizer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  

  @media (min-width: 576px) {
    .Resizer {
      width: 500px;
    }
  }

  @media (min-width: 768px) {
    .Resizer {
      width: 720px;
    }
  }

  @media (min-width: 958px) {
    .Resizer {
      width: 880px;
    }
  }

  @media (min-width: 992px) {
    .Resizer {
      width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .Resizer {
      width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .Resizer {
      width: 1360px;
    }
  }

  @media (min-width: 1600px) {
    .Resizer {
      width: 1460px;
    }
  }

  .section {
    padding: 80px 0px;
  }

  .only-bottom {
    padding: 0px 0px 80px 0px;
  }

  .only-top {
    padding: 50px 0px 20px 0px;
  }

  @media (max-width: 1000px) {
    .section {
      padding: 60px 0px;
    }
  }
  .bg-gradient {
    background: linear-gradient(92.49deg, #9E4BFA -14.1%, #EE79AC 111.07%);
  }  

}


/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-color: #EE79AC #f0f0f0;
  scrollbar-width: thin;
}
